@model AppUserModel
@{
    Layout = null;
}

@{
    ViewData["title"] = "Enter New Password";
}

<section>
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
                <div class="signup-form">
                    <h2>Enter New Password</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form asp-action="UpdateNewPassword" asp-controller="Account">
                        <input type="hidden" name="token" value="@ViewBag.Token" />
                        <div class="form-group">
                            <label>Email</label>
                            <input asp-for="Email" readonly value="@ViewBag.Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Apply</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
